<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to our web site</h1>
    <form action="/api/users" method="POST" style="display: flex;flex-direction:column;width: fit-content;margin-left: auto;flex-wrap: wrap;max-width: 650px;justify-content:space-between;
    margin-right: auto;padding:2% 5%;border: 1px solid #ccc;row-gap: 10px;">

        <label>fisrt name</label>
        <input type="text" name="first_name" id="first_name" value="">
        <label>last name</label>
        <input type="text" name="last_name" id="last_name">
        <label>email</label>
        <input type="text" name="email" id="email">
        <label>gender</label>
        <input type="text" name="gender" id="gender">
        <label>age</label>
        <input type="number" name="age" id="age">
        <label>bdate</label>
        <input type="text" name="bdate" id="bdate">
        <label>currency</label>
        <input type="text" name="currency" id="currency">
        <label>car</label>
        <input type="text" name="car" id="car">
        <button type="submit">Submit</button>
    </form> 
</body>
</html>