<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            white-space: normal;
        }

        .header {
            background-color: #222;
            color: #fff;
        }

        .data {
            background-color: rgba(224, 224, 224, 0.787);
        }
    </style>
    <script>
    
    </script>
</head>

<body>
    <form action="/aggregation">
        <input type="text" name="searchBy" id="searchBy" placeholder="aggregation by">
        <button type="submit">Search</button></br><br>
    </form>
    <% if(error) {%>
        <p style="color:red">select aggregation By first</p>
        <% } %>

    <p> total search result : <%= length %></p>
    <table width="100%">
        <tr class="header">
            <td>No.</td>
            <td><%=by%></td>
            <td>count</td>

        </tr>

        <% for(var i=0; i < length; i++) { %>
            <tr class="data">
                <td><%= i+1 %></td>
                <td>
                    <%= data[i]._id%>
                </td>
                <td>
                    <%= data[i].count%>
                </td>
                 </tr>
            <% } %>

    </table>
    <div style="display: flex;justify-content: center;margin-top: 20px;gap: 10px;">
        <button onclick="previousdata()"><</button>
        <button onclick="nextdata()">></button>
    </div>
    <button onclick="adduser()">Add user</button>

    </body>

</html>