<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            white-space: normal;
        }

        .header,
        tr:nth-child(1) {
            background-color: #222;
            color: #fff;
        }

        .data {
            background-color: rgba(224, 224, 224, 0.787);
        }
    </style>
    <script>
        function edit(id) {
            document.location = "/api/profile/" + id;
            console.log("id:", id)
        }
        function remove(id) {
            document.location = "/api/remove/" + id;
        }
        function adduser() {
            document.location = "/api/adduser";
        }
        function addCar() {
            document.location = "/cars";
        }
        var limit = 10, skip = 0;
        function nextdata(v) {
            if(v=="next") skip+=10
            else skip-=10
            fetch('/getdata?skip=' + skip).then((res) => {
                res.json().then((data) => {
                    console.log("length", data.user)
                    const user = data.user
                    var html = `<tr><td>No.</td>
            <td>first name</td>
            <td>last name</td>
            <td>email</td>
            <td>gender</td>
            <td>age</td>
            <td>birthdate</td>
            <td>currency</td>
            <td>car</td>
            <td>Edit</td>
            <td>Delete</td></tr>`
                    for (let i = 0; i < data.length; i++) {
                        const txt = `<tr>
                        <td>${i + skip+1}</td>
                <td>
                    ${user[i].first_name}
                </td>
                <td>
                    ${user[i].last_name}
                </td>
                <td>
                    ${user[i].email}
                </td>
                <td>
                    ${user[i].gender}
                </td>
                <td>
                    ${user[i].age}
                </td>
                <td>
                    ${user[i].bdate}
                </td>
                <td>
                    ${user[i].currency}
                </td>
                <td>
                    ${user[i].car}
                </td>
                <td><button type="submit" value="${user[i]._id}" onclick="edit(this.value)">Edit</button></td>
                <td><button type="submit" value="${user[i]._id}" onclick="remove(this.value)">Delete</button></td></tr>
                        `
                        html += txt
                    }
                    document.getElementById("data").innerHTML = html
                })
               // skip += 10
            })
            console.log("skip:", skip)
        }
    </script>
</head>

<body>
    <form action="/">
        <input type="text" name="searchBy" id="searchBy" placeholder="search by">
        <input type="text" name="search" id="search" placeholder="search name">
        <button type="submit">Search</button></br><br>
    </form>

    <button onclick="adduser()">Add user</button>
    <button onclick="addCar()">Add Car</button>
    <p>Filters : </p>
    <button onclick="document.location='/aggregation'">By Aggregation</button>
    <p> total search result : <%= length %>
    </p>
    <table width="100%" id="data">
        <tr class="header">
            <td>No.</td>
            <td>first name</td>
            <td>last name</td>
            <td>email</td>
            <td>gender</td>
            <td>age</td>
            <td>birthdate</td>
            <td>currency</td>
            <td>car</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>

        <% for(var i=0; i < length; i++) { %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%= user[i].first_name %>
                </td>
                <td>
                    <%= user[i].last_name %>
                </td>
                <td>
                    <%= user[i].email %>
                </td>
                <td>
                    <%= user[i].gender %>
                </td>
                <td>
                    <%= user[i].age %>
                </td>
                <td>
                    <%= user[i].bdate %>
                </td>
                <td>
                    <%= user[i].currency %>
                </td>
                <td>
                    <%= user[i].car %>
                </td>
                <td><button type="submit" value="<%= user[i]._id%>" onclick="edit(this.value)">Edit</button></td>
                <td><button type="submit" value="<%= user[i]._id%>" onclick="remove(this.value)">Delete</button></td>
            </tr>
            <% } %>

    </table>
    <div style="display: flex;justify-content: center;margin-top: 20px;gap: 10px;">
        <button value="past" onclick="nextdata(this.value)"><</button>
                <button value="next" onclick="nextdata(this.value)">></button>
    </div>

</body>

</html>