<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>
    <form action="/api/updateprofile/<%=user._id%>" method="POST" style="display: flex;flex-direction:column;width: fit-content;margin-left: auto;flex-wrap: wrap;max-width: 650px;justify-content:space-between;
    margin-right: auto;padding:2% 5%;border: 1px solid #ccc;row-gap: 10px;">
        <label>fisrt name</label>
        <input type="text" name="first_name" id="first_name" value="<%= user.first_name %>">
        <label>last name</label>
        <input type="text" name="last_name" id="last_name" value="<%= user.last_name %>">
        <label>email</label>
        <input type="text" name="email" id="email" value="<%= user.email %>">
        <label>gender</label>
        <input type="text" name="gender" id="gender" value="<%= user.gender %>">
        <label>age</label>
        <input type="number" name="age" id="age" value="<%= user.age %>">
        <label>bdate</label>
        <input type="text" name="bdate" id="bdate" value="<%= user.bdate %>">
        <label>currency</label>
        <input type="text" name="currency" id="currency" value="<%= user.currency %>">
        <label>car</label>
        <input type="text" name="car" id="car" value="<%= user.car %>">
        <button type="submit">Update Profile</button>
    </form> 
</body>
</html>